.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4.5rem;
  color: #4ECCA3;
} 
h2 {
  font-family: 'Lobster', cursive;
  margin-top: 2rem;
  text-align: center;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
span{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
/* Play button */
.play-button {
	box-shadow:inset 0px 0px 0px -50px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:30px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:20px 40px;
	text-decoration:none;
  text-shadow:-1px 0px 0px #1570cd;
  
}
.play-button:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.play-button:active {
	position:relative;
	top:1px;
}

.button-play{
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 1201px) {
	h1 {color:red}
}
